@import "../../../styles/variables";

.view-profile-page {
  min-height: calc(100vh - 68px);
  background: $ExtraLightBackgroundGrey;

  .header {
    flex-direction: column;
  }

  .app-card-container {
    height: 650px;
    position: relative;
    margin: 20px 180px 0 180px;
  }

  .degree-chips {
    .degree-chip {
      background: $LightBackgroundGrey;
      padding: 5px 20px;
      margin-right: 20px;
      border-radius: 20px;
    }
  }

  .profile-icon {
    width: 250px;
    border: 3px solid #c1c1c1;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 5px;
    padding: 10px;
  }

  .user-name {
    font-size: 30px;
    line-height: 1.5;
    letter-spacing: 1px;
  }

  .user-desg {
    font-size: 24px;
    letter-spacing: 2px;
  }
}
