@import '../../../styles/variables';

::ng-deep .app-dark-mode .notification-container {
  background: $CPDarkCardsBG !important;

  .two {
    border-bottom: 15px solid $CPDarkCardsBG;
  }

  .date{
    color: white;
  }
}

::ng-deep .notification-container {
  @extend .app-tooltip-animation;

  font-family: $CPLightRegularFont;
  //display: none;
  position: absolute;
  text-align: left;
  background: white;
  z-index: 12;
  padding: 25px 30px;
  right: -42px;
  top: 60px;
  border-radius: 4px;
  box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.2),
  0 3px 4px 0 rgba(0, 0, 0, 0.14),
  0 1px 8px 0 rgba(0, 0, 0, 0.12);

  @include tablet-mobile {
    top: 54px;
    right: auto;
    left: 21px;
  }

  .close-container {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
  }

  .one {
    position: absolute;
    top: -15px;
    right: 58px;
    border-left: 16px dotted transparent;
    border-right: 16px dotted transparent;
    //border-bottom: 16px solid #d8d8d8;
    width: 0;
    height: 0;
  }

  .two {
    border-left: 15px dotted transparent;
    border-right: 15px dotted transparent;
    border-bottom: 15px solid white;
    width: 0;
    height: 0;
    margin-top: 1px;
    margin-left: -15px;
  }

  a {
    color: $CPPrimary;
    font-family: $CPLightRegularFont;
    text-decoration: none;
  }

  .no-notification-msg {
    font-family: $CPLightItalicFont;
  }

  .notifications {
    .notification {
      line-height: 1.5;
      position: relative;
      border-bottom: 1px solid $StrokeGrey;
      margin-bottom: 15px;
      padding-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }

      .notification-link {
        cursor: pointer;
        padding: 0;
      }

      .hide-notification {
        width: 15px;
        position: absolute;
        right: -5px;
        top: 2px;
        cursor: pointer;
      }
    }
  }

  .see-all {
    text-align: right;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;

    .a {
      padding: 0;
      line-height: 1;
      cursor: pointer;

      &:focus {
        outline: none;
      }
    }
  }
}

.notifications {
  position: relative;
  color: $TextGrey;

  &:hover {
    .bage {
      color: white;
      background: $CPPrimary;
    }
  }

  .bage {
    position: absolute;
    top: 18px;
    right: 21px;
    content: "3";
    color: $CPPrimary;
    background: white;
    border-radius: 50%;
    height: 12px;
    width: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    //font-weight: 800;
    font-family: $CPMediumRegularFont;

    animation: blinkingText 0s ease-in infinite;
  }
}

