<div class="economic-table">
    <div class="row">
        <div class="col-12 p-sm-0">
            <div class="row headings">
                <div class="{{heading.colClass}} heading"
                     *ngFor="let heading of data.headings; let hi = index"
                     [ngClass]="{'pl-0': hi === 0, 'pr-0': hi === data.headings.length-1}">
                    {{heading.name}}
                </div>
            </div>
            <div class="table-body">
                <div class="row economic-table-row" *ngFor="let row of data.rows">
                    <div class="{{col.colClass}} column" *ngFor="let col of row; let ri = index"
                         [ngClass]="{'pl-0': ri === 0, 'pr-0': ri === row.length-1}">
                        <i *ngIf="col.icon" class="{{col.icon}}"></i>
                        <span *ngIf="!isArray(col.name) && !col.type">{{col.name}}</span>
                        <span *ngIf="!isArray(col.name) && col.type==='link'" class="animated-link"
                              (click)="onLinkClicked(col.name)">{{col.name}}</span>
                        <div *ngIf="isArray(col.name)">
                            <div *ngFor="let item of col.name" class="mb-1">{{item}}</div>
                        </div>
                    </div>
                    <!--<div class="mt-3">
                        <app-table [data]="overview"></app-table>
                    </div>-->
                </div>
            </div>
            <app-no-data-available [message]="'No data Available'" *ngIf="!data.rows.length"></app-no-data-available>
        </div>
    </div>
</div>
