<div class="dashboard-menu pinned-menu" [ngClass]="{'opened': dashboardMenuOpened}">

    <!--<div class="top-section">
        <i class="lnr ri-grid-fill icon-menu p-3"
           (click)="clickedOutOfdashboardMenu()"></i>
    </div> -->
    <!--<label class="sr-only" for="search-dashboard">Search by Insights</label>-->
    <!--<div class="position-relative my-2 mx-2">
        <input class="app-text-box" id="search-dashboard"
               placeholder="Search"
               [(ngModel)]="insightSearchText"
               (keyup)="searchInsight()"/>

      <span class="icon-search material-symbols-outlined light-icon clr-burgandy">search</span>
        &lt;!&ndash;<img alt="alternative text" class="icon-search"
             src="assets/images/search.svg"/>&ndash;&gt;
    </div>-->
    <div class="menu-section px-2 my-2">
        <mat-accordion class="main-lob" #lobAccordion="matAccordion"
                       [multi]="true">
            <mat-expansion-panel *ngFor="let group of dashboardMenus; index as i">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <span>{{group.name }}</span>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="d-flex w-100 ">
                    <div class="group align-self-stretch" [ngClass]="{'w-50': group.group2, 'w-100': !group.group2}">
                        <div class="a-menu" *ngFor="let menu of group.group"
                             [ngClass]="{'active': (menu.tabUrl === router.url)}"
                             (click)="clickMainMenuLink(menu.tabUrl)">
                          <span class="material-symbols-outlined light-icon pl-2">{{menu.icon}}</span>
                            <span class="px-2">{{menu.name}}</span>
                        </div>
                    </div>
                    <div class="group2" *ngIf="group.group2">
                        <div class="a-menu" *ngFor="let menu of group.group2">
                            <!--<span class="{{menu.icon}} pl-2"></span>-->
                            <span class="px-2">{{menu.name}}</span>
                        </div>
                    </div>
                </div>

            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>
