<div  *ngIf="breadcrumbs.length > 1">
  <div class="app-breadcrumb" *ngFor="let breadcrumb of breadcrumbs; let last = last">
    <div class="page-header" *ngIf="breadcrumb.status && last">
      <div class="page-block" *ngIf="last">
        <div class="row align-items-center">
          <div class="col-12 breadcrumb-links">
            <!--<div class="page-header-title">
              <span *ngFor="let breadcrumb of breadcrumbs; let last = last">
                <h4 *ngIf="last" class="mb-0">{{ breadcrumb.label }}</h4></span>
              <p class="m-b-0" *ngIf="breadcrumb.caption">{{ breadcrumb.caption }}</p>
            </div>-->
            <ul class="breadcrumb">
              <!--<li class="breadcrumb-item">
                <a [routerLink]="['/']">
                  <i class="feather icon-home"></i>
                </a>
              </li>-->
              <li class="breadcrumb-item" *ngFor="let breadcrumb of breadcrumbs;" [hidden]="!breadcrumb.label.length">
                <a [ngClass]="breadcrumb.status === false ? 'not-active': ''"
                   [routerLink]="breadcrumb.url">{{breadcrumb.label}}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
