@import "src/styles/variables";

::ng-deep .mat-dialog-container {
  position: relative;
}

.app-button-card.close-btn {
  padding: 2px 3px;

  &.with-border {
    border-color: $CPPrimary;
  }
}

.publisher-modal {
  font-family: $CPLightRegularFont;

  .user-profile-form {
    padding: 0 30px;
  }

  &.mat-mdc-dialog-content {
    max-height: 90vh;
  }

  .profile-icon {
    width: 600px;
    border: 3px solid #c1c1c1;
    margin-top: 20px;
    margin-bottom: 5px;
    padding: 10px;
  }

  .app-card {
    border: none;

    .card-heading {
      background: $CPPrimary;
      color: white;

      .app-button-card {
        &.with-border {
          border: 1px solid white;
        }
      }
    }

    &:hover {
      border: none;
    }
  }

  .input-label {
    font-weight: normal;
  }

  .close-span {
    position: absolute;
    right: 10px;
    top: 5px;
    -webkit-appearance: none;

    .img-icon {
      width: 10px;
    }
  }

}
